/* # Unit1-Code-Refactor*/
/* The star is a global selector, it gives universal box sizing, padding, and margin for webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body is given a background color for whole webpage */
body {
    background-color: #d9dcd6;
}
/* The top header has a padding of 20 pixels, font family and blue gray background color and white text  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* The header heading h1 is an inline block with font size of 48 pixels */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* The header h1 seo class is a span style that makes the text color in the webpage heading a lighter white color */
/* This makes the lettering seo stand out in the heading h1 */
.header h1 .seo {
    color: #d9dcd6;
}
/*  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*  */
.header div ul {
    list-style-type: none;
}
/*  */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* The a tag list of properties make the links text color white with no text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}
/* the hero class references the oversize prominent banner  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* I brought down paragraph tag under content because that's when the tag appears in html */

p {
    font-size: 16px;
}

/* I consolidated each class for search-engine optimization */

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* I consolidated benefits for lead generatiom, brand awarness and cost management */
/* used benefits-lead as new name */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
