/* # Unit1-Code-Refactor*/
/* The star below is a global selector, it gives the webpage a universal box sizing, padding, and margin for the webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body defines body for all page and is given a background color. */
body {
    background-color: #d9dcd6;
}
/* The top header has a padding of 20 pixels, font family and blue gray background color and white text.  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* The header h1 has an inline block propery that sets the height and width of an element. */
/* and displays navigation horizontally. */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* The header h1 seo class is a span style that makes the text color within the heading a grayish white color. */
/* This makes the lettering "SEO" stand out in the heading h1. */
.header h1 .seo {
    color: #d9dcd6;
}
/* The header div tag gives a padding to the top and a margin and float right. */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* The list-style-type property is used to specify the type of a list item element. */
/* Here the value is none meaning it has no type such as bullet points. */
.header div ul {
    list-style-type: none;
}
/* displays navigation horizontally. */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* The a tag make the links a text color of white, and with no text decoration like underline or dotted underline. */
a {
    color: #ffffff;
    text-decoration: none;
}
/* the hero class references the oversize prominent banner.  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Below the hero is the content of the page with a width of 75% of the page. */
/* Again the display is inline block. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;

}
/* Float left and right determines where an image floats inside a column of text, for example text wrapping right of left of the image. */
/* In search engine optimization the image is to the left, and in Reputation Management the image is to the right. */
/* Finally in social media marketing the image is to the right, all with margins of 25 pixels. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* I brought down paragraph tag under content because that's when the tag appears in html. */
/* the paragraphs have a font sizr of 16 pixels. */
p {
    font-size: 16px;
}

/* I consolidated each class and named them all search-engine optimization since that is what appears first. */

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* The benifits class gives whole benefits section the properties of margin-right to push the items to a side bar. */
/* The padding is from the right edge, the float is right, the total width and height is 20% height and 100% to go entire length of the page. */
/*  with a font family of Gill Sans and background color of light blue. */
/* The benefits makes up a sidebar that is floated to the right side of the page and the column starts with Lead Generation. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* I consolidated benefits for lead generatiom, brand awarness and cost management. */
/* I used benefit-lead as new name for each class. */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* The footer defines the bottom of the page, padding of 30 pixels, a font family and aligned center. */
/* The footer element contains authorship and copyright information. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 15px;
}
